body, html{
    height:100%;
    margin:0;
    font-size: 20px;
    font-family: "calibri light", sans-serif;
    font-weight:400;
    line-height: 1.8em;
    color: #666;    
    
}   

.img1, .img2, .img3, .img4{
    position: relative;
    opacity: 0.85;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    background-attachment: fixed;
    /* remember, for mobiole use 'scroll' */
}



.img1{
    background-image: url('../img/elleview.jpg');
    min-height: 100%;
}

.img2{
    background-image: url('../img/rocks.jpg');
    min-height: 400px;
}
.img3{
    background-image: url('../img/elleview2.jpg');
    min-height: 400px;
}

.img4{
    background-image: url('../img/stars.jpg');
    min-height: 400px;
    
}


.section{
    padding: 50px 80px;
    text-align: center;
}
.section-light{
    background-color: #f4f4f4;
    color: #666;
}
.section-dark{
    background-color: #282e34;
    color: #ddd;
 
}

h2{
    color:#666;
    text-align: center;

}
ul li{
    list-style-type: none;
}

.ptext{
    position:absolute;
    top:50%;
    width: 100%;
    text-align: center;
    color: #000;
    font-size:27px;
    letter-spacing: 8px;
    text-transform: uppercase;
}

.ptext .border{
    background-color: #111; /*#692019*/
    color:#fff;
    padding:20px;
}

.strenghtcontainer{
    display: flex;
}
.col{
    flex: 50%;
}


/* Contactform */


.formcontainer {
    border: 1px solid; 
    display:flex;
    flex-wrap: wrap;
    width: 50%;
    margin:auto;
    padding:auto;
    border-radius: 5px;
    padding:20px;
    background-color: #f4f4f4;
    color: #282e34;
    
  }
  .item{
      flex: 50%;
  }
  
  form input, button, textarea {
    height: 30px; 
    border: 2px solid #111; 
    border-radius: 5px;
    margin: 10px;
    background-color: #ddd;
    color: #111;
  }
  button {
    text-align: center;
    font-size: 100%;
    color: #fff;
    background-color: #111;
    width: 20%;
    border: none; 
    
  }
  button:hover{
    color: white;
    background-color: #692019 ;
  } 
  
  input::placeholder,
  textarea::placeholder { 
   text-align: center; 
   padding: 10px;
   color: #111;
  } 


.maps{
    margin: auto;
    padding:auto;
}

    





/* .ptext .border.trans {
    background-color: transparent;
} */

 @media only screen and (max-width: 568px) {
    .img1, .img2, .img3, .img4{
         background-attachment: scroll;
}
 }
