body, html{
    height:100%;
    margin:0;
    font-size: 20px;
    font-family: "calibri light", sans-serif;
    font-weight:400;
    line-height: 1.8em;
    color: #666;    
    
}   

.img1, .img2, .img3, .img4{
    position: relative;
    opacity: 0.85;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    background-attachment: fixed;
    /* remember, for mobile use 'scroll' */
}



.img1{
    background-image: url('../img/elleview.jpg');
    min-height: 100%;
}

.img2{
    background-image: url('../img/rocks.jpg');
    min-height: 400px;
}
.img3{
    background-image: url('../img/elleview2.jpg');
    min-height: 400px;
}

.img4{
    background-image: url('../img/stars.jpg');
    min-height: 400px;
    
}


.section{
    padding: 50px 80px;
    text-align: center;
}
.section-light{
    background-color: #f4f4f4;
    color: #666;
}
.section-dark{
    background-color: red;
    color: #ddd;
 
}

h2{
    color:#666;
    text-align: center;

}
ul li{
    list-style-type: none;
}

.ptext{
    position:absolute;
    top:50%;
    width: 100%;
    text-align: center;
    color: #000;
    font-size:27px;
    letter-spacing: 8px;
    text-transform: uppercase;
}

.ptext .border{
    background-color: #111; /*#692019*/
    color:#fff;
    padding:20px;
}

.strenghtcontainer{
    display: flex;
}
.col{
    flex: 50%;
}


/* Contactform */
.formcontainer {
    width: 60%;
    margin:auto;
}

input, select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
  }

textarea {
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #45a049;
  }

/* .ptext .border.trans {
    background-color: transparent;
} */

 @media only screen and (max-width: 568px) {
    .img1, .img2, .img3, .img4{
         background-attachment: scroll;
}
 }
