body, html{
    height:100%;
    margin:0;
    font-size: 18px;
    font-family: "calibri light", sans-serif;
    font-weight:400;
    line-height: 1.8em;
    color: #091a0b;    
}  

.img1, .img2, .img3, .img4{
    position: relative;
    opacity: 0.85;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    background-attachment: fixed;
    /* for mobile use 'scroll' */
}

@media only screen and (max-width: 568px) {
    .img1, .img2, .img3, .img4{
         background-attachment: scroll;
    }
}

.img1{
    background-image: url('../img/elleviewps.jpg');
    min-height: 100%;
}

.img2{
    background-image: url('../img/ipad.jpg');
    min-height: 300px;
}

.img3{
    background-image: url('../img/2.jpg');
    min-height: 300px;
}

.img4{
    background-image: url('../img/pen.jpg'), linear-gradient(rgba(9, 26, 11, 0.144), rgba(9, 26, 11, 0.144));
    background-blend-mode: overlay;
    min-height: 300px;
}

.section{
    padding: 5% 20% 5% 20%;
    text-align: center;
}

.section-light{
    background-color: #e9ebe9;
    color: #091a0b; /*#666; */
}

.section-dark{
    background-color: #091a0b; /*#282e34; */
    color: rgb(230, 230, 230);
 }

h2{
    color:#091a0b;
    text-align: center;
}

ul li{
    list-style-type: none;
}

@media only screen and (max-width: 568px) {
    ul li{ list-style-type: disc;
    }
}

.ptext{
    position:absolute;
    top:50%;
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 26px;
    letter-spacing: 8px;
    text-transform: uppercase;
}

.ptext .border{
    background-color: #091a0b; /*#692019*/
    color:#fff;
    padding:20px; /*grijze titeltjes padding*/
}

/* About */
.gridcont{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    grid-gap: 10%; 
    text-align: justify;
}

@media only screen and (max-width: 568px) {
    .gridcont{ display:block;
    }
}

/* strenghts */

.row {
    display: flex;
  }
  
.column {
    flex: 50%;
  }

  @media only screen and (max-width: 568px) {
    .row{ display:block
    }
  }

/* Contactform */
.formcontainer {
    width: 40%;
    margin:auto;
}

input, select, textarea {
    width: 100%; /* Full width */
    padding: 20px;  
    border: 1px solid #ccc;
    border-radius: 4px; 
    box-sizing: border-box; /* this makes sure that padding and width stays in place */
    margin-top: 6px; 
    margin-bottom: 16px;
    font-family: "calibri light", sans-serif;
  }

textarea {
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
    
}
  
  input[type=submit] {
    background-color: rgb(71, 71, 71);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    Width: 50%;
  }
  .item{
    font-family: "calibri light", sans-serif;
    color:#fff;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #5aab61;
  }

  @media only screen and (max-width: 568px) {
    .formcontainer {
        width: 100%;
        margin:auto;
    }
    input[type=submit] {
        Width: 40%;
      }
}


/*doorschijnende titelbox--
 .ptext .border.trans {
    background-color: transparent;
} */

@media only screen and (max-width: 568px) {
    body, html{
        font-size: 16px;
    }
}

