/* General */
*, html {
  text-decoration: none;
  font-family: 'calibri light', sans-serif;
  font-size: 16px;
  text-align: left;
  line-height: 1.5;
  color: black;
  padding: 0;
  margin: 0;
  outline: none;
  scroll-behavior: smooth;
  transition: color 1s;
  }

/* website opzet */
body{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(6, auto);
  grid-gap: 1em;
  }
header{
  grid-row: 2 / 3;
  grid-column: 2 / 5;
}
main{
  grid-row: 3 / 4;
  grid-column: 2 / 5;
}
.maps {
  grid-row: 4 / 5;
  grid-column: 2 / 5;
}
footer {
  grid-row: 5 / 6;
  grid-column: 2 / 5;
}

#cv{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}


/* Navigatie Menu*/
nav ul{
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(3, 1fr);
  list-style: none;
}
nav ul li a{
  display: block;
  text-align: center;
  line-height: 70px;
}
input[type=checkbox] {
  display: none;
}
#burgericon {
  display: none;
}

/* Pictures */
/* Index */
img{
  width: 100%;
  border-radius: 20px;
}
#background {
  background-image: url("../img/elleprofile.png");
  background-size: 30%;
  background-repeat: no-repeat;
  background-position: bottom right;
}
/*contact*/

iframe{
  width: 100%;
  border-radius: 20px; 
 
}




/* Opmaak */
/* Index */
#background{
  padding: 0 70px 0 70px;
}
h1 {
  text-align: left;
  font-size: 160%;
  padding: 0 0 1em;
  color: #a6bddd;
}
.highlight {
  color: #c0d2ec;
  font-weight: bold;
}
h2 {
  font-size: 120%;
  padding: 1em 0;
}
h1, h2, nav ul li, a {
  font-family: termina, sans-serif;
  font-weight: 300;
  font-style: normal;
}
main ul li{
  margin: 0 0 0 2em;
  padding: 0 0 0 1em;
}
a{
  display: block;
  text-align: center;
  padding: 20px;
}
nav ul li a, footer {
  background-color: #c0d2ec;
  margin: 2em;
  border-radius: 20px;
}
nav ul li a:hover, footer:hover {
  color: white;
  background-color: #f8b6b8;
}
#competences{
  padding: 3em 0 3em 0; 
}
/*cv*/
#cv div {
  box-shadow: 0px 5px 15px 0px #d7e6f7;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  padding: 30px;
  margin: 20px;
}
#cv h1, #cv h2, #cv p {
  text-align: center;
}
/* Contact */

.formcontainer {
  display: grid;
  grid-template-columns: 25% 1fr;
  grid-gap: 1em 1em;
}

form input, form select, button, textarea {
  height: 50px; 
  border: 2px solid #d7e6f7; 
  border-radius: 10px;
}
button {
  text-align: center;
  font-size: 120%;
  font-weight: 600;
  color: #fff;
  background-color: #d7e6f7;
  width: 100%;
  border: none; 
}
button:hover{
  color: white;
  background-color: #f8b6b8;
}

input::placeholder,
textarea::placeholder { 
 text-align: right; 
 padding: 10px;
}




/*Mobile*/
@media screen and (max-width: 889px){
input[type=checkbox] ~ nav {
  display: none;
}
input[type=checkbox]:checked ~ nav {
  display: grid;
}







#burgericon{
  display: block;
  align-items: center;
  text-align: center;
}

body, nav ul {
  grid-template-columns: 1fr;
  grid-gap: 0em;
}
main {
  padding: 1em;
}
nav ul li a{
  line-height: initial;
  margin: 1em;
}

/*mobiel:cv*/
#cv{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 1em;
}



}
